.error-page {
  background-color: black;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 2rem;
  position: relative;
}

.error-frame {
  border: 1px solid white;
  height: 95%;
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}

.error-message {
  text-align: center;
  font-size: 1.5em;
  color: white;
  width: 100%;
  padding: 3rem 0;
  box-sizing: border-box;
  border: 1px solid white;
}

.error-image {
  width: 50%;
  height: 60%;
  border: 1px solid white;
  margin-bottom: 4rem;
}